/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
    width: 100%;
    background-color: black;
}

img {
    width: 25px;
    border-radius: 50px;
    float: left;
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}

.button {
    text-decoration: none;
    float: right;
    padding: 12px;
    margin: 15px;
    color: white;
    width: 45px;
    background-color: rgb(0, 0, 0);
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;
    border-radius: 50%;
}

#logOut_btn:hover {
    width: 130px;
    border-radius: 10%;
}

#logOut_btn:hover .logout {
    opacity: .9;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

.title {
    margin: auto;
    width: fit-content;

    padding-bottom: .4em;

}

.first {
    padding-top: 1.2em;
    font-size: 3.5em;
    font-weight: 700;

}

.second {
    font-size: 1.8em;
    font-weight: 300;

}

.content {
    width: 100vw;
    height: 65%;
    overflow-y: hidden;

}

.innerContent {
    padding-top: 1em;
    margin: auto;

    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1180px;
    gap: 20px;
    row-gap: 25px;

}

.card {
    width: 23em;
    height: 14em;
    display: flex;
    background-color: rgb(171, 208, 247);
    border-radius: 2em;
    position: static;
    overflow: hidden;
    transition: all .7s;
}

/* .card:hover {

    width: 24em;
    height: 15em;
    transition: all .7s;
} */


.start {
    position: absolute;
    right: -9em;
    width: fit-content;
    margin: 0;
    background-color: rgb(1, 122, 255);
    padding: .29em;
    font-size: large;
    border-radius: 2em;
    color: white
}

.CardContent {
    position: relative;
    margin: 1.2em;
}

/* .blur {
    position: absolute;
    z-index: 21;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .2;
} */

.CardTitle {

    font-weight: 600;
    font-size: x-large;
    padding-bottom: 1em;
}

.CardTitle2 {
    font-weight: 400;
    font-size: large;
    padding-bottom: 1em;
}

.bottom_nav {
    margin-top: 2.3em;
    width: 100%;
    height: 3em;
    display: flex;
    padding-top: .8em;
    position: fixed;
    bottom: 0;
    background-color: rgb(39, 174, 96);

}

.bottom_nav_Project {

    background-color: white;
    height: fit-content;
    padding: .4em;
    font-weight: 600;
    font-size: large;
    border-radius: 1.2em;
    margin-left: .3em;
}

.bottom_nav_Left {
    display: flex;
    gap: .6em;
    flex-direction: row;
    position: absolute;
    right: 1.2em;
}

@media (max-width:1300px) {
    .card {
        width: 20em;
        height: 15em;
    }

    .start {
        right: -8em;
    }

    .innerContent {
        grid-template-columns: repeat(2, 1fr);
        gap: 7px;
        width: 70%;
        max-width: 998px;
        margin: auto;
    }
}