* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
}

.wrapper {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

.title {
    margin: auto;
    width: fit-content;

    padding-bottom: .4em;

}

.first {
    padding-top: 1.2em;
    font-size: 3.5em;
    font-weight: 700;

}

.second {
    font-size: 1.8em;
    font-weight: 200;

}

.content {
    width: 100vw;
    height: 65%;
    overflow-y: hidden;

}

.innerContent {
    padding-top: 1em;
    margin: auto;

    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1180px;
    gap: 20px;
    row-gap: 25px;

}

.card {
    width: 23em;
    height: 14em;
    display: flex;
    background-color: rgb(171, 208, 247);
    border-radius: 2em;
    position: static;
    overflow: hidden;

}

/* #card1:hover {
    background-color: rgb(52, 232, 35);
}

#card10 {
    background-color: rgb(35, 160, 232);
} */

.start {
    position: absolute;
    right: -10em;
    width: fit-content;
    background-color: rgb(1, 122, 255);
    padding: .29em;
    font-size: large;
    border-radius: 2em;
    color: white
}

.CardContent {
    position: relative;
    margin: 1.2em;
}

/* .blur {
    position: absolute;
    z-index: 21;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .2;
} */

.CardTitle {

    font-weight: 600;
    font-size: x-large;
    padding-bottom: 1em;
}

.CardTitle2 {
    font-weight: 400;
    font-size: large;
    padding-bottom: 1em;
}

.bottom_nav {
    margin-top: 2.3em;
    width: 100%;
    height: 3em;
    display: flex;
    padding-top: .8em;
    position: fixed;
    bottom: 0;
    background-color: rgb(39, 174, 96);

}

.bottom_nav_Project {

    background-color: white;
    height: fit-content;
    padding: .4em;
    font-weight: 600;
    font-size: large;
    border-radius: 1.2em;
    margin-left: .3em;
}

.bottom_nav_Left {
    display: flex;
    gap: .6em;
    flex-direction: row;
    position: absolute;
    right: 1.2em;
}

@media (max-width:1300px) {
    .card {
        width: 20em;
        height: 15em;
    }

    .start {
        right: -8em;
    }

    .innerContent {
        grid-template-columns: repeat(2, 1fr);
        gap: 7px;
        width: 70%;
        max-width: 998px;
        margin: auto;
    }
}